<div id="flash">
  <% flash.each do |name, msg| %>
    <% if name.to_s == 'notice' || name.to_s == 'alert' %>
      <div class="<%= name %>">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
</div>