<%= turbo_frame_tag "menu" do %>
  <div>
    <% on_root = current_page?(root_path) || current_page?(documents_path) %>
    <% turbo_option = on_root ? { turbo_frame: "document-previews" } : { turbo: false } %>
    <% filter_path = on_root ? documents_path : root_path %>
    
    <%= link_to "Inbox", "#{filter_path}?status=inbox", data: turbo_option %>
    <%# link_to "Later", "#{filter_path}?status=later", data: turbo_option %>
    <%# link_to "Archive", "#{filter_path}?status=archive", data: turbo_option %>
    <%= link_to "Subscriptions", subscriptions_path, data: { turbo: false } %>
  </div>
<% end %>