<search class="searchbar">
  <% on_search_view = current_page?(controller: :documents, action: :search) %>
  <%= form_with(url: search_path, method: :get, data: on_search_view ? { turbo_stream: true } : {}) do |form| %>
    <div class="searchfield-container">
      <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search", autofocus: on_search_view,
                            data: {"controller": "searchbar shortcut", "shortcut-hotkey-value": "/"} %>
    </div>
  <% end %>
</search>
