<search class="searchbar">
<%= form_with(url: search_path, method: :get, data: current_page?(controller: :documents, action: :search) ? { turbo_stream: true } : {}) do |form| %>
    <div class="searchfield-container">
      <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search", autofocus: true,
                            data: {"controller": "searchbar shortcut", "shortcut-hotkey-value": "/"} %>
    </div>
  <% end %>
</search>
