<search class="searchbar">
  <%= form_with(url: search_path, method: :get, data: { turbo: true, turbo_stream: true }) do |form| %>
    <div class="searchfield-container">
      <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search",
                            data: {"controller": "searchbar shortcut", "shortcut-hotkey-value": "/"} %>
    </div>
  <% end %>
</search>
