.document-preview {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border-bottom: 1px solid var(--color-border);
	text-decoration: none;
	color: var(--color-text-secondary);
	width: var(--content-width);
  margin: 0 auto;
}

.document-preview:last-child {
	border-bottom: none;
}

.document-preview:focus, .document-preview:hover {
	background: var(--bg-link-hover);
}

.document-preview-header {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.document-preview-title {
	color: var(--color-text);
	font-size: var(--text-base);
  font-weight: 500;
}

.document-preview-main {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	align-items: start;
}

.document-preview-left {
  min-width: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.document-preview-main img {
	object-fit: cover;
	border-radius: 0.5rem;
	width: 10rem;
	height: 7.5rem;
}

.document-preview-description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.document-preview-metadata {
	text-transform: uppercase;
}
