.document-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.document-header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 1rem;
}

.document-title {
	font-weight: 600;
}

.document-title > a[href] {
	text-decoration: none;
}

.document-author {
	font-weight: normal;
}

.document-body {
	font-family: var(--font-serif);
	font-size: var(--text-lg);
	line-height: var(--line-height-loose);
	margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.document-body a:hover, .document-body a:focus {
  color: var(--color-link);
}

.document-body a {
  text-decoration: underline;
}

.document-body p {
	margin-bottom: 1rem;
}

.document-body blockquote > * {
  margin-left: 1.25rem;
}

.document-body blockquote {
  border-left: 4px solid var(--color-border);
}

.document-body * {
	max-width: 100%;
	height: auto;
}

.document-body img {
  width: max-content;
  margin: 0 auto;
}

.document-body figure {
	margin: 2em 0;
}

.document-body ol li, .document-body ul li {
  margin: 0.5em 0 0 2rem;
}

.document-body h1, .document-body h2, .document-body h3, .document-body h4, .document-body h5, .document-body h6 {
  margin: 1em 0 .625rem;
  font-weight: 600;
  font-family: var(--font-sans);
}

.document-metadata-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}

.document-body .video-container {
    display: flex;
    justify-content: center;
}

.document-body iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    border: none;
}

.document-body details summary {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: .4rem;
  justify-content: start;
  position: relative;
  user-select: none;
}

.document-body details summary::before {
    content: "";
    mask-image: url("/icons/caret-right.svg");
    mask-size: 100%
    min-width: .6875rem;
    width: .6875rem;
    height: 1.075rem;
    transition: transform var(--transition);
    color: var(--color-text-light);
}

.document-body details[open] summary::before {
    transform: rotate(90deg);
}

