.toolbar {
  display: flex;
  position: sticky;
  bottom: calc(var(--page-padding) + env(safe-area-inset-bottom));
  margin: 0 var(--page-padding);
  border-radius: 0.5em;
  background: var(--bg-secondary-opaque);
  padding: 0.25em 0.25em;
  justify-content: center;

  @media (max-width: 100ch) {
    border-radius: 0.9rem;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  a {
    border: none;
  }

  .toolbar__action {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.25em 1em;
    font-size: var(--text-sm);
    gap: 0.2em;
    align-items: center;

    @media (max-width: 100ch) {
      padding: 0.5em 1em;
      gap: 0;
      font-size: var(--text-xs);
      border-radius: 1em;
    }
  }

  opacity: 1;
  transition: opacity 0.2s ease;
}

@media (max-width: 100ch) {
  .body--scrolled-down {
    .toolbar {
      opacity: 0;
    }
  }

  .body--scrolled-bottom {
    .toolbar {
      opacity: 1;
    }
  }
}
