<div class="feed-container">
  <picture>
    <source srcset="<%= feed.icon %>"/>
    <%= image_tag "icons/rss.svg", width: 24, alt: "#{feed.title} icon"%>
  </picture>
  <span><%= feed.title || feed.feed_url %></span>
</div>
