<div id="document-list">
  <% if @documents.present? %>
    <% @documents.each do |document| %>
      <%= render document %>
    <% end %>
  <% else %>
    <p>No documents found.</p>
  <% end %>
</div>