<div>
  <a class="document-preview">
    <header class="document-preview-title">
      <%= render 'channel/preview_skeleton' %>
      <p>Loading date...</p>
    </header>
    <main class="document-preview-main">
      <div class="document-preview-left">
        <h3>Loading title...</h3>
        <div class="document-preview-metadata">
          <p class="document-preview-description">Loading description...</p>
          <p>Loading author...</p>
        </div>
      </div>

      <div>
        <%# thumbnail_url %>
      </div> 
    </main>
  </a>
</div>