<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div id="document-inbox" class="sheet" data-controller="documents__list" 
     data-documents__list-query-value="<%= "status=archive" %>">
  <h1 class="sheet__header">Archive</h1>
  <div class="document-preview-section content" id="documents-section">
    <% if @documents.any? %>
      <%= render partial: 'documents/preview', collection: @documents, cached: ->(document) { [document, document.view_extracted] }  %>
    <% else %>
      <div class="document-inbox-nothing-new">
        <span>No results.</span>
      </div>
    <% end %>
</div>
