<% content_for(:title) { @document.title } %>

<% @hide_navbar = true %>
<% @hide_tabbar = true %>

<%= tag.div(class: "ebook__container", data: {
  controller: "ebook",
  ebook_url_value: rails_blob_url(@document.resource.file),
  ebook_cfi_value: @document.progress_identifier
}) do %>
  <div class="ebook__section" data-ebook-target="section">
    <%= render "ebook_header", document: @document %>
  </div>

  <div class="ebook__body">
    <div class="ebook__overlay" data-ebook-target="overlay" data-side="left" data-action="click->ebook#overlayClick">
      <div class="btn btn--sm btn--rounded btn--icon icon--arrow-left"></div>
    </div>

    <%= tag.div class: "ebook", data: {
      ebook_target: "content"
    } %>

    <div class="ebook__overlay" data-ebook-target="overlay" data-side="right" data-action="click->ebook#overlayClick">
      <div class="btn btn--sm btn--rounded btn--icon icon--arrow-right"></div>
    </div>
  </div>

  <div class="ebook__section" data-ebook-target="section">
    <%= render "ebook_footer", document: @document %>
  </div>
<% end %>
