<% content_for(:title) { 'Feed' } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="document-list page" data-controller="documents--list" 
                                data-documents--list-query-value="<%= "subscription=#{params[:subscription]}" %>">
  <h1 class="page__header">Feed</h1>

  <%= render "subscriptions/avatar_list", subscriptions: @subscriptions %>

  <div class="document-preview-section" id="documents-section">
    <% if @documents.any? %>
      <%= render partial: 'documents/preview', collection: @documents %>
    <% else %>
      <div class="document-list__nothing-new">
        <span>No results.</span>
      </div>
    <% end %>
  </div>
</div>
