<%= turbo_stream.update "documents-section" do %>
  <% if @documents.any? %>
    <%= render partial: 'documents/preview', collection: @documents %>
  <% elsif params[:q].present? %>
    <div class="document-list__nothing-new">
      <span>No results.</span>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "subscription_avatar_list", method: "morph" do %>
  <%= render "subscriptions/avatar_list", subscriptions: @subscriptions %>
<% end %>
