<% content_for(:title) { 'Feed' } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="document-list sheet" data-controller="documents--list" 
     data-documents--list-query-value="<%= "" %>">
  <h1 class="sheet__header">Feed</h1>
  <div class="document-preview-section content" id="documents-section">
    <% if @documents.any? %>
      <%= render partial: 'documents/preview', collection: @documents, cached: ->(document) { [document, document.view_extracted] }  %>
    <% else %>
      <div class="document-list__nothing-new">
        <span>No results.</span>
      </div>
    <% end %>
</div>
