<% content_for(:title) { "Inbox" } %>

<div id="document-inbox" class="sheet" data-controller="documents--list" 
     data-documents__list-query-value="<%= "status=inbox" %>">
  <h1 class="sheet__header">Inbox</h1>

  <div id="inbox__unread-section" class="document-preview-section">
    <% if @unread_documents.any? %>
      <div class="document-inbox-title-row">
        <h3 class="document-inbox-title">New for you</h3>
      </div>
      <%= render partial: 'documents/preview', collection: @unread_documents, cached: ->(document) { [document, document.view_extracted] } %>
    <% elsif @unread_documents.empty? %>
      <div class="document-inbox-nothing-new">
        <span>
          <%= @read_documents.present? ? "Nothing new for you 😎" : "You're all clear 👏" %>
        </span>
      </div>
    <% end %>
  </div>
  
  <details id="inbox__read-section" class="document-preview-section" data-controller="documents--hide-read">
    <summary>
      <div class="document-inbox-title-row">
        <h3 class="document-inbox-title">Previously seen</h3>
        <span class="btn-icon"></span>
      </div>
    </summary>
    <%= render partial: 'documents/preview', collection: @read_documents, cached: ->(document) { [document, document.view_extracted] } %>
  </details>
</div>
