<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div id="document-list" data-controller="documents--list" 
             data-documents--list-query-value="<%= "status=#{params[:status]}" %>">
  <% if @unread_documents.any? %>
    <h1>New for you</h1>
    <% @unread_documents.each do |document| %>
      <%= render "documents/preview", document: document %>
    <% end %>
  <% elsif @unread_documents.empty? %>
    <p><%= @read_documents.present? ? "Nothing new for you!" : "You're all clear." %></p>
  <% end %>
  
  <% if @read_documents.any? %>
    <h1>Previously seen</h1>
    <% @read_documents.each do |document| %>
      <%= render "documents/preview", document: document %>
    <% end %>
  <% end %>
</div>