<% content_for(:title) { "Later" } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="document-list page" data-controller="pagination" 
     data-pagination-query-value="<%= "status=later" %>">
  <h1 class="heading">Later</h1>
  <div class="document-preview-section" id="documents-section">
    <% if @documents.any? %>
      <%= render partial: 'documents/preview', collection: @documents %>
    <% else %>
      <div class="document-list__nothing-new">
        <span>No results.</span>
      </div>
    <% end %>
  </div>
</div>
