<% content_for(:title) { "Search" } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="sheet document-list" data-controller="documents--list" 
     data-documents--list-query-value="<%= "q=#{params[:query]}" %>">
    <h1 class="sheet__header">Search</h1>

  <div class="content">
    <search class="searchbar push--bottom">
      <%= form_with(url: search_path, method: :get, data: { turbo_stream: true }) do |form| %>
        <div class="searchfield-container">
          <%= form.search_field :q, id: nil, autocomplete: "off", value: params[:q], placeholder: "Search", autofocus: true,
                                data: {"controller": "searchbar shortcut", "shortcut-hotkey-value": "/"} %>
        </div>
      <% end %>
    </search>
  </div>

  <div class="document-preview-section" id="documents-section">
    <% if @documents.any? %>
      <%= render partial: 'documents/preview', collection: @documents, cached: ->(document) { [document, document.view_extracted] }  %>
    <% elsif params[:q].present? %>
      <div class="document-list__nothing-new">
        <span>No results.</span>
      </div>
    <% end %>
</div>
