<% content_for(:title) { "Search" } %>

<div class="page document-list page--tab" data-controller="pagination" 
     data-pagination-query-value="<%= "q=#{params[:query]}" %>">
    <h1 class="heading web-only">Search</h1>

  <search class="searchbar push--bottom">
    <%= form_with(url: search_path, method: :get, data: { turbo_stream: true }) do |form| %>
      <div class="searchfield-container">
        <%= form.search_field :q, id: nil, autocomplete: "off", value: params[:q], placeholder: "Search", autofocus: true,
                              data: {"controller": "searchbar shortcut", "shortcut-hotkey-value": "/"} %>
      </div>
    <% end %>
  </search>

  <div class="document-preview-section" id="documents-section">
    <% if @documents.any? %>
      <%= render partial: 'documents/preview', collection: @documents %>
    <% elsif params[:q].present? %>
      <div class="document-list__nothing-new">
        <span>No results.</span>
      </div>
    <% end %>
  </div>
</div>
