<% content_for(:title) { @document.title } %>

<% @hide_tabbar = true %>

<div class="page"> 
  <div id="<%= dom_id @document %>" class="flex-item--fill content">
    <%= render "header", document: @document %>
    <%= render_document @document %>
  </div>

  <%= turbo_frame_tag :document_toolbar, src: toolbar_document_path(@document) %>
</div>

