<turbo-frame id="document_toolbar" target="_top">
  <%= form_with model: @document_state do |form| %>
    <%= form.hidden_field :document_id, value: params[:id] %>
    <a class="btn btn--secondary btn--icon icon--arrow-left shortcut-hotkey" href="#" onclick="history.back(); return false;" aria-label="Go back"
       data-controller="shortcut" data-shortcut-hotkey-value="b"
      ></a>

    <fieldset class="toggle-group">
      <% DocumentState.statuses.keys.each do |status| %>
        <%= form.radio_button :status, status, 
                             checked: (@document_state&.status == status unless @initialized),
                             class: "toggle icon--#{status} shortcut-hotkey",
                             onchange: "this.form.requestSubmit()",
                             "aria-label": "Send to #{status.titleize}",
                             data: {controller: "shortcut", "shortcut-hotkey-value": status[0].downcase} %>
      <% end %>
    </fieldset>
  <% end %>
</turbo-frame>
