<turbo-frame id="document_toolbar">
  <button class="btn btn--icon icon--trash"></button>
  <button class="btn btn--icon icon--trash"></button>
  <button class="btn btn--icon icon--trash"></button>
</turbo-frame>
