<div class="channel-container">
  <picture>
    <source srcset="<%= channel.icon %>"/>
    <%= image_tag "icons/rss.svg", width: 24, alt: "#{channel.title} icon"%>
  </picture>
  <span><%= channel.title || channel.feed_url %></span>
</div>
