.action-group {
  width: 100%;

  .action-group__item {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0.5em 1em;
    gap: 0.5em;
    border: none;
    counter-increment: item-counter;
    
    &:focus-visible {
      background: var(--color-selected);
    }

    @media (any-hover: hover) {
      &:where(:not(:active):hover) {
        background: var(--color-selected);
      }
    }
  }

  &:has(.action-group__item) {
    border: 1px solid var(--color-border--subtle);
    border-radius: 0.375em;
    background: var(--bg-secondary);
  }
}

.action-group-title {
  text-transform: uppercase;
  font-size: var(--text-sm);
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5em;
  display: block;
}
