.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0.4em 0.8em;
  cursor: pointer;
  background: var(--bg-default);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  font-size: var(--text-lg);
  height: fit-content;
  text-align: center;

  &.btn--icon::before {
    display: block;
    mask-size: 100%;
    content: "";
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    cursor: pointer;
    background: var(--color-text-secondary);
  }
  
  &:not(:empty) {
    position: relative;
    gap: 0.4em;
    align-items: center;
  }

  &:focus-visible {
    outline: var(--focus-ring);
    outline-width: medium;
  }

  &.btn--icon::before {
    background: var(--color-text);
  }

  &.btn--icon:empty {
    padding: 0.5em;
  }

  &.btn--primary {
    background: var(--color-primary);
    color: #FFF;

    &.btn--icon::before {
      background: #FFF;
    }
  
    border: none;
  }

  &.btn--secondary {
    background: var(--color-secondary);
    color: #FFF;

    &.btn--icon::before {
      background: #FFF;
    }

    border: none;
  }

  &.btn--sm {
    font-size: var(--text-sm);

    &::before {
      height: 1.125em;
      width: 1.125em;
    }
  }

  &.btn--ghost {
    background: none;
   
    &.btn--icon::before {
      background: var(--color-text-secondary);
    }
  }

  &.btn--link {
    background: none;
    text-decoration: underline
  }

  &.btn--outline {
    background: none;

    border: 1px solid transparent;
    border-color: var(--color-border);
    color: var(--color-text-secondary);

    &.btn--icon::before {
      background: var(--color-text-secondary);
    }

    &.btn--secondary {
      border-color: var(--color-secondary);
      color: var(--color-secondary);

      &&:before {
        background: var(--color-secondary);
      }
    }

    &.btn--tertiary {
      border-color: var(--color-tertiary);
      color: var(--color-tertiary);

      &&:before {
        background: var(--color-tertiary);
      }
    }
  }
}
