label {
  color: var(--color-text);
}

input[type="text"], input[type="email"] {
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	padding: 0.5em 1em;
	background: var(--bg-primary);

  &:focus-visible {
    outline: var(--focus-ring);
    background-color: var(--color-primary-opaque);
    border-color: var(--color-border);
  }
}

input::placeholder {
  color: var(--color-text-secondary)
}
