.toggle-group {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.toggle {
  padding: 0.5em;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  
  &::before {
    background: var(--color-text-secondary)
  }

  &:hover {
    background: var(--bg-input-ghost-hover);
  }

  &:checked {
    background: var(--bg-input-secondary);
  }

  &:focus-visible {
    outline: var(--focus-ring);
  }
}

.checkbox-container {
	display: flex;
	gap: 0.5em;
	align-items: center;
	font-weight: 600;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin: 0;
  background: var(--bg-primary);

  &:checked {
    background-color: var(--bg-input);
  }

  & + label {
    cursor: pointer;
    user-select: none;
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid var(--color-text-light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &:focus-visible {
    outline: var(--focus-ring);
  }
}

label {
  color: var(--color-text);
}

input[type="text"], input[type="email"] {
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	padding: 0.5em 1em;
	background: var(--bg-primary);

  &:focus-visible {
    outline: var(--focus-ring);
    background-color: var(--bg-link-hover);
    border-color: var(--color-border);
  }
}

input::placeholder {
  color: var(--color-text-secondary)
}
