.searchbar {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 2em;
  background: var(--bg-primary);
  width: var(--content-width);

  &.searchbar--transparent {
    background: none;
    border: none;
  }

  &:has(input:focus-visible) input[type="search"] {
    outline: var(--focus-ring);
    border-color: var(--color-border);

    &.searchbar--transparent {
      background: none;
    }

    input[type="search"] {
      outline: none;
    }
  }

  form {
    flex: 1;
  }

  .searchfield-container {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;

    &::after {
      background-color: var(--color-text-secondary);
      mask-image: url(/icons/search.svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
      content: "";
      height: 1.25em;
      width: 1.25em;
      pointer-events: none;
      position: absolute;
      left: 0.5em;
    }
  }


  input[type="search"] {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 2.2em;
    border-radius: 2em;
  }
}

