.shortcut-hotkey {
  position: relative;
  vertical-align: middle;

  &::after {
    display: initial;
    margin-left: auto;
    font-family: var(--font-mono);
    font-size: var(--text-xs);
    color: var(--color-text-secondary);
    content: attr(data-shortcut-hotkey-value);
    padding-left: 1em;
    text-transform: uppercase;

    @media (max-width: 100ch) {
      display: none;
    }
  }
}
