
<% content_for(:title) { "Subscriptions" } %>

<div class="sheet">
  <h1 class="sheet__header">
    <% case response.code.to_i %>
    <% when 400 %>
      Bad Request.
    <% when 404 %>
      Not Found.
    <% when 406 %>
      Not Acceptable.
    <% when 422 %>
      Unprocessable Entity.
    <% when 500 %>
      Internal Server Error.
    <% else %>
      An unexpected error occurred.
    <% end %>
  </h1>
  <div class="content content--center">
    <p>That's an error.</p>
    <%= link_to "Go to inbox", inbox_path, class: "btn" %>
  </div>
</div>
