<% content_for(:title) { "Subscriptions" } %>

<div class="page">
  <%= link_to "Go back", :back, class: "btn btn--outline btn--secondary btn--icon icon--arrow-left web-only push--bottom" %>
  <h1 class="page__header">Security</h1>
  <div class="content subscription-content">
    <%= turbo_frame_tag "passkeys", src:"/user/security/passkeys" %>
  </div>
</div>
