[Unit]
Description=Run jobs with SolidQueue
After=network.target
Before=thruster.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/starch
Environment=RAILS_ENV=production
ExecStart=bin/jobs
Restart=always

StandardOutput=append:/root/starch/log/jobs-output.log
StandardError=append:/root/starch/log/jobs-error.log

[Install]
WantedBy=multi-user.target