<div class="sheet">
  <div class="content">
    <h1 class="content-header">Subscriptions</h1>
    
    <%= form_with(url: subscriptions_path, id: "add-subscription") do |f| %>
      <%= f.text_field :feed_url, 
          placeholder: "Enter link",
          required: true %>
      <%= f.submit "Add",
          data: { disable_with: "Adding..." } %>
    <% end %>

    <div id="subscription-list">
      <%= render partial: 'subscriptions/preview', collection: @subscriptions, cached: true %>
    </div>
  </div>
</div>
