<%= turbo_frame_tag "subscriptions" do %>
  <h2>Subscriptions</h2>

  <%= turbo_frame_tag "new_subscription", src: new_subscription_path %>

  <%= turbo_frame_tag "subscription_list" do %>
    <% if @subscriptions.present? %>
      <% @subscriptions.each do |subscription| %>
        <%= render subscription %>
      <% end %>
    <% else %>
      <p>No subscriptions found.</p>
    <% end %>
  <% end %>
<% end %>