<%= form_with(url: subscriptions_path) do |f| %>
  <%= f.text_field :feed_url, 
      placeholder: "Enter link",
      required: true %>
  <%= f.submit "Add subscription",
      data: { disable_with: "Adding..." } %>
<% end %>

<div id="subscription_list">
  <% if @subscriptions.present? %>
    <%= render partial: 'subscriptions/preview', collection: @subscriptions, cached: true %>
  <% else %>
    <p>No subscriptions found.</p>
  <% end %>
</div>