<% content_for(:title) { "Subscriptions" } %>

<div class="sheet">
  <h1 class="sheet__header">Subscriptions</h1>
  <div class="content">
    <%= form_with(url: subscriptions_path, id: "add-subscription") do |f| %>
      <%= f.text_field :feed_url, 
          placeholder: "Enter link",
          required: true %>
      <%= f.button "Add",
          class: "btn btn--icon icon--plus",
          data: { disable_with: "Adding..." } %>
    <% end %>

    <div id="subscription-list">
      <%= render partial: 'subscriptions/preview', collection: @subscriptions, cached: true %>
    </div>
  </div>
</div>
