<h2>Let's get you signed in</h2>

<p>All you have to do is click this button and we'll sign you in with a secure link</p>
<%= link_to "Sign in to Starch", @magic_link_url %>

<p>This link and code will only be valid for the next 5 minutes. If the link does not work, you can use the login verification code directly:</p>
<h3><%= @verification_code %></h3>

<p>If you didn’t request this email, you can safely ignore it.<p>