<h1>Starch</h1>
<h2>Let's get you signed in</h2>
<p>All you have to do is click this button and we'll sign you in with a secure link</p>
<%= link_to "Sign in to Starch", @url %>
<p>If you didn’t request this email, you can safely ignore it.<p>