<% content_for(:title) { 'Subscribe to Starch' } %>
<% content_for :bottom_content do %>
  <div></div>
<% end %>
<% content_for :top_content do %>
  <div></div>
<% end %>

<div class="sheet">
  <h1 class="sheet__header push_quarter--bottom align--center ">Thank you for subscribing!</h1>
  <p class="push--bottom text-lg align--center">
    You may close this page and return to Starch.
  </p>
</div>
