<% content_for(:title) { 'Subscribe to Starch' } %>

<% @hide_navbar = true %>
<% @hide_tabbar = true %>

<div class="page">
  <h1 class="heading push_quarter--bottom align--center ">Thank you for subscribing!</h1>
  <p class="push--bottom text--lg align--center">
    You may close this page and return to Starch.
  </p>
</div>
