.subscription-content {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

#add-subscription {
  width: 100%;
  display: flex;

  justify-content: end;
  flex-flow: row wrap;
  gap: 0.5em;

  input {
    width: 100%
  }
}