.action-group {
  width: 100%;

  .action-group__item {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0.5em 1em;
    gap: 0.5em;
    border: none;
    counter-increment: item-counter;
    
    &:focus-visible {
      background: var(--color-selected);
    }

    @media (any-hover: hover) {
      &:where(:not(:active):hover) {
        background: var(--color-selected);
      }
    }
  }

  &:has(.action-group__item) {
    border: 1px solid var(--color-border--subtle);
    border-radius: 0.375em;
    background: var(--bg-secondary);
  }
}

.action-group__title {
  text-transform: uppercase;
  color: var(--color-text--subtle);
  font-size: var(--text-xs);
  font-weight: 500;
  text-align: left;
  display: block;
}

.action-group--popup {
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: -50%;
  margin-bottom: 1em;
  box-shadow: var(--shadow);
  padding: 1em;
  width: 16rem;

  @media(max-width: 100ch) {
    left: initial;
    right: 1rem;
    bottom: 5rem;
    position: fixed;
  }
}

.action-group--grid {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25em;

  .action-group__item {
    flex: 1 1 40%;
  }
}
