.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375em;
  padding: 0.4em 0.8em;
  cursor: pointer;
  background: var(--bg-default);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  font-size: var(--text-base);
  font-weight: 500;
  height: fit-content;
  text-align: center;

  &.btn--icon::before {
    mask-size: 100%;
    content: "";
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    cursor: pointer;
    background: var(--color-text--subtle);
  }
  
  &:not(:empty) {
    position: relative;
    gap: 0.4em;
    align-items: center;
  }

  &:focus-visible {
    outline: var(--focus-ring);
    outline-width: medium;
  }

  &.btn--icon::before {
    background: var(--color-text);
  }

  &.btn--icon:empty {
    padding: 0.35em;

    &::before {
      height: 1.25em;
      width: 1.25em;
    }
  }

  &.btn--subtle {
    color: var(--color-text--subtle);

    &.btn--icon::before {
      background: var(--color-text--subtle);
    }
  }

  &.btn--rounded {
    border-radius: calc(infinity * 1px);
  }

  &.btn--surface {
    background: var(--bg-secondary);
  }

  &.btn--primary {
    background: var(--color-primary);
    color: var(--color-text--reversed);

    &.btn--icon::before {
      background: var(--color-text--reversed);
    }
  
    border: none;
  }

  &.btn--secondary {
    background: var(--color-secondary);
    color: #FFF;

    &.btn--icon::before {
      background: #FFF;
    }

    border: none;
  }

  &.btn--sm {
    font-size: var(--text-sm);

    &::before {
      height: 1.125em;
      width: 1.125em;
    }
  }

  &.btn--ghost {
    border: none;
    background: none;
  }

  &.btn--danger {
    color: var(--color-danger);

    &.btn--icon::before {
      background: var(--color-danger);
    } 
  }

  &.btn--outline {
    background: none;

    border: 1px solid transparent;
    border-color: var(--color-text-subtle);
    color: var(--color-text--subtle);

    &.btn--icon::before {
      background: var(--color-text--subtle);
    }

    &.btn--primary {
      border-color: var(--color-primary);
      color: var(--color-primary);

      &:before {
        background: var(--color-primary);
      }
    }

    &.btn--secondary {
      border-color: var(--color-secondary);
      color: var(--color-secondary);

      &:before {
        background: var(--color-secondary);
      }
    }

    &.btn--tertiary {
      border-color: var(--color-tertiary);
      color: var(--color-tertiary);

      &:before {
        background: var(--color-tertiary);
      }
    }
  }

  &.btn--success {
    animation: success 1s ease-out;
  }
}
