label {
  color: var(--color-text);
  font-weight: 500;
}

input[type="text"], input[type="email"] {
	border: 1px solid var(--color-border);
	border-radius: 0.375em;
	padding: 0.5em 1em;
	background: var(--bg-primary);

  &:focus-visible {
    outline: var(--focus-ring);
    border-color: var(--color-border);
  }
}

input::placeholder {
  color: var(--color-text--subtle)
}

fieldset:disabled {
  opacity: 25%;
}
