.toggle {
  &::before {
    mask-size: 100%;
    content: "";
    height: 1.25em;
    width: 1.25em;
    flex-shrink: 0;
    cursor: pointer;
    background: var(--color-text--subtle);
  }
  
  &:not(:empty) {
    position: relative;
    align-items: center;
  }

  padding: 0.35em;
  border-radius: 0.375em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
 
  &::before {
    background: var(--color-text);
  }

  &[data-checked="true"], &:checked {
    background: var(--color-secondary--opaque);
    color: var(--color-secondary);

    &::before {
      background: var(--color-secondary);
    }
  }

  &:focus-visible {
    outline: var(--focus-ring);
  }
}
