html {
	font-size: 16px;
  background: var(--bg-primary);
}

html, body {
  height: 100%;
}

body {
	font-family: var(--font-sans);
	font-size: var(--font-size);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	color: var(--color-text);
  background: var(--bg-primary);

  display: flex;
  flex-direction: column;
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  &:has(#navbar:not(.hide)) {
    padding-top: var(--navbar-padding);
    scroll-padding-top: var(--navbar-padding);
  }

  &:has(#trial-banner) {
    padding-top: calc(var(--navbar-padding) + 1.7rem);
    scroll-padding-top: calc(var(--navbar-padding) + 1.7rem);
  }
}

turbo-frame {
  display: contents;
}

a {
	color: inherit;
}

a:focus-visible {
  outline: var(--focus-ring);
}

details summary {
  &::-webkit-details-marker, &::marker {
    content: none;
  }
  &::-webkit-details-marker {
    display: none;
  }
}
