html {
	font-size: 16px;
  background: var(--bg-primary);
}

body {
	font-family: var(--font-sans);
	font-size: var(--font-size);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	color: var(--color-text);
  background: var(--bg-primary);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  &:has(#navbar) {
    padding-top: var(--navbar-padding);
  }

  &:has(#trial-banner) {
    padding-top: calc(var(--navbar-padding) + 1.7rem);
  }
}

turbo-frame {
  display: contents;
}

a {
	color: inherit;
}

a:focus-visible {
  outline: var(--focus-ring);
}

ol, ul {
  list-style: initial;
}

sub, sup {
  font-size: var(--text-sm);
  margin-left: 0.25em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

details summary {
  &::-webkit-details-marker, &::marker {
    content: none;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

strong, b {
  font-weight: bold
}

em, i {
  font-style: italic;
}

code {
  font-family: var(--font-mono);
}

ol, ul {
  li {
    margin: 0.5em 0 0 2em;
  }
}

s {
  text-decoration: line-through;
  color: var(--color-text--subtle);
}

:where([hidden]) {
  display: none !important;
}
