html {
	font-size: 16px;
}

body {
  padding-top: var(--navbar-padding);
	font-family: var(--font-sans);
	font-size: var(--font-size);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	color: var(--color-text);
  background: var(--bg-primary);

  display: flex;
  flex-direction: column;
  min-height: 100svh;
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

turbo-frame {
  display: contents;
}

.main {
	width: 100%;
	margin: 0 auto;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.content {
	max-width: var(--content-width);
  width: 100%;
}

.page {
  padding: var(--page-padding);
	flex: 1;
  margin-left: auto;
  margin-right: auto;
	background: var(--bg-primary);

	display: flex;
	flex-direction: column;
	width: var(--page-width);
	align-items: center;

  @media (max-width: 100ch) {
    border-radius: 0;
  }

  .page__header {
    text-align: center;
    width: var(--content-width);
    font-weight: 600;
    background: var(--bg-primary);
    margin-bottom: 0.5em;
    font-size: var(--text-xxl);
    line-height: var(--line-height-tight);

    @media (max-width: 100ch) {
      text-align: left;
    }
  }
}

a {
	color: inherit;
}

a:focus-visible {
  outline: var(--focus-ring);
}

ol, ul {
  list-style: initial;
}

sub, sup {
  font-size: var(--text-sm);
  margin-left: 0.25em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

details summary {
  &::-webkit-details-marker, &::marker {
    content: none;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

strong, b {
  font-weight: bold
}

em, i {
  font-style: italic;
}

code {
  font-family: var(--font-mono);
}

ol, ul {
  li {
    margin: 0.5em 0 0 2em;
  }
}

s {
  text-decoration: line-through;
  color: var(--color-text-secondary);
}

#flash {
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  top: 2em;
  gap: 1em;
  pointer-events: none;
}

.flash-item {
  padding: 0.5em 1.5em;
  background: var(--bg-reversed);
  color: var(--color-text-reversed);
  border-radius: 2em;
  box-shadow: 0 0 1em var(--color-shadow);
  opacity: 0;
  animation: fadeInOut 4s linear forwards;
  pointer-events: auto;
}
