#checkout {
  width: var(--navbar-width);
  border-top: 1px solid var(--color-border);
  background: #FFFFFF;
  margin-top: 1em;
  padding: 2em 0;

  @media (max-width: 100ch) {
    width: calc(100% + 2 * var(--sheet-padding));
  }

  #checkout-container {
  }
}
