:root {
  /* Core Colors
   * These variables are only for use in _this_ stylesheet
   * If you add a new rgb like "--rgb-pink", you'll want to add a
   * corresponding dark-mode version to the media query just below
   * ------------------------------------------------------------------------ */

  --lch-gray-hue: 90;
  --lch-gray-chroma: 0.0025;

  --lch-white: 100% 0 0;
  --lch-black: 0% 0 0;
  --lch-ink: 10% 0.005 96;
  --lch-background: 97.5% var(--lch-gray-chroma) var(--lch-gray-hue);
  --lch-darker-background: 96% var(--lch-gray-chroma) var(--lch-gray-hue);

  --lch-medium-gray: 90% var(--lch-gray-chroma) var(--lch-gray-hue);
  --lch-gray: 70% var(--lch-gray-chroma) var(--lch-gray-hue);

  --lch-red: 60% 0.20 28;
  --lch-orange: 75% 0.16 60;
  --lch-yellow: 82% 0.16 90; /* logo yellow */
  --lch-yellow-dark: 60% 0.16 90;
  --lch-green: 62% 0.16 150;
  --lch-light-blue: 60% 0.16 265;
  --lch-blue: 55% 0.16 265;
  --lch-purple: 50% 0.16 295;
 
  @media (prefers-color-scheme: dark) {
    & {
      --lch-gray-hue: 280;
      --lch-gray-chroma: 0.02;

      --lch-ink: 85% 0 0;
      --lch-background: 17.5% var(--lch-gray-chroma) var(--lch-gray-hue);
      --lch-darker-background: 21% var(--lch-gray-chroma) var(--lch-gray-hue);

      --lch-medium-gray: 30% var(--lch-gray-chroma) var(--lch-gray-hue);
      --lch-gray: 60% var(--lch-gray-chroma) var(--lch-gray-hue);

      --lch-light-blue: 65% 0.16 265;
      --lch-blue: 60% 0.16 265;
      --lch-purple: 60% 0.16 295;
      --lch-red: 60% 0.16 28;
    }
  }

  /* These variables are for use in _other_ stylesheets
   * ------------------------------------------------------------------------ */

  --color-text: oklch(var(--lch-ink));
  --color-text--subtle: oklch(var(--lch-ink) / 0.66);
  --color-text--reversed: oklch(var(--lch-background));
  --color-text--subtle-reversed: oklch(var(--lch-background) / 0.66);

  /* Semantic variables */
  --focus-ring: 1px solid oklch(var(--lch-light-blue) / 0.8);
  --color-border: oklch(var(--lch-medium-gray));
  --color-border--subtle: oklch(var(--lch-medium-gray) / 0.5);

  --color-danger: oklch(var(--lch-red));
  --color-shadow: oklch(var(--lch-medium-gray));
  
  --color-primary: oklch(var(--lch-blue));
  --color-primary--opaque: oklch(var(--lch-blue) / 0.1);
  --color-secondary: oklch(var(--lch-purple));
  --color-secondary--opaque: oklch(var(--lch-purple) / 0.15);
  --color-tertiary: oklch(var(--lch-yellow-dark));
  --color-tertiary--opaque: oklch(var(--lch-yellow) / 0.2);
  --color-link: oklch(var(--lch-light-blue));
  --color-selected: oklch(var(--lch-light-blue) / 0.075);
  --color-unselected: oklch(var(--lch-gray));

  --bg-primary: oklch(var(--lch-background));
  --bg-primary--opaque: oklch(var(--lch-background) / 0.95);
  --bg-secondary: oklch(var(--lch-darker-background));
  --bg-default: transparent;

  --filter-text--subtle: invert(40%) sepia(0%) saturate(14%) hue-rotate(192deg) brightness(93%) contrast(88%);

  @media (prefers-color-scheme: dark) {
    & {
      --color-shadow: oklch(var(--lch-black));
      --color-primary--opaque: oklch(var(--lch-blue) / 0.20);
      --color-secondary--opaque: oklch(var(--lch-purple) / 0.20);
      --color-tertiary: oklch(var(--lch-yellow) / 0.75);
      --color-tertiary--opaque: oklch(var(--lch-yellow) / 0.4);
      --color-selected: oklch(var(--lch-light-blue) / 0.05);
    }
  }
}
