#document-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid lightgray;
}

#document-previews {
	width: min(100%, 30em);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*preview stuff*/

.document-preview {
	display: block;
	padding: 1em;
	border-bottom: 1px solid lightgray;
	text-decoration: none;
	color: inherit;
	width: 100%;
}

.document-preview-title {
	display: flex;
	justify-content: space-between;
}

.document-preview-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.document-preview-left {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.document-preview-main img {
	object-fit: cover;
	border-radius: 0.5em;
}

.document-preview-description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
	height: 4.5em;
	max-height: 4.5em;
}

/* document show */

#document-show {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 1em;
}

.document-content {
	width: min(100%, 40em);
}

.document-title {
	font-weight: 600;
}

.document-author {
	font-weight: normal;
}

.document-body {
	margin-bottom: 1em;
}

.document-body p {
	margin-bottom: 1em;
}

.document-body * {
	max-width: 100%;
	height: auto;
}

.document-body figure {
	margin: 2em 0;
}

.channel-container {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.document-metadata-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}