#documents {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#document_list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: min(100%, 40em);
}

.document-item {
	padding: 1em;
	border-bottom: 1px solid lightgray;
	text-decoration: none;
	color: inherit;
}

.document-item:last-child {
	border-bottom: none;
}

.document-item header {
	display: flex;
	justify-content: space-between;
}

.document-item main {
	display: flex;
	justify-content: space-between;
}

.document-item main img {
	object-fit: cover;
	border-radius: 0.5em;
}

.document {
	display: flex;
	width: 100%;
	padding: 0 1.5em;
	justify-content: center;
}

#document-content {
	width: min(100%, 60em);
}