.ebook__container {
  height: var(--full-height);
  width: var(--full-width);
  display: flex;
  flex-direction: column;
}

.ebook__body {
  display: flex;
  height: 100%;
}

.ebook {
  margin: 2rem 0;
  width: 100%;
  transform-origin: center;
  transition: transform 0.05s linear;

  .ebook__container[data-paused] & {
    transform: scale(0.9);
  }
}

.ebook__section {
  display: flex;
  height: 4rem;
  width: 100%;
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.05s linear;

  &:has(.ebook__header) {
    top: env(safe-area-inset-top, 0);
  }

  &:has(.ebook__footer) {
    bottom: env(safe-area-inset-bottom, 0);
  }

  @media(max-width: 100ch) {
    pointer-events: none;
  }

  .ebook__container[data-paused] & {
    opacity: 1 !important;
  }
}

.ebook__header, .ebook__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 3rem;
  padding: 0 var(--page-padding);

  background: var(--bg-secondary);
  box-shadow: 0 0 4px var(--color-shadow);

  pointer-events: auto;

  @media(max-width: 100ch) {
    position: fixed;
  }
}

.ebook__header {
  h1 {
    font-size: var(--text-sm);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

.ebook__footer {
  margin-top: auto;
  bottom: env(safe-area-inset-bottom, 0);
}

.ebook__progress_slider {
  width: 100%;
  background: transparent;
  z-index: 20;
}

.ebook__progress_slider::-webkit-slider-runnable-track,
.ebook__progress_slider::-moz-range-track {
  background: var(--color-primary);
  height: 2px;
}

#progress_step_list {
  display: block;
  position: absolute;
  width: calc(100vw - 2*var(--page-padding));
  margin: 0 var(--page-padding);

  div {
    width: 2px;
    height: 6px;
    background: var(--color-text);
    position: absolute;
    left: var(--position);
  }
}

.ebook__overlay {
  display: flex;
  align-items: center;
  padding: 0 0.5em;

  .btn {
    opacity: 0;
  }

  @media(max-width: 100ch) {
    display: none;
  }

  @media (any-hover: hover) {
    &:where(:hover) {
      & .btn {
        opacity: 1;
      }
    }
  }

  .ebook__container[data-paused] & .btn {
    opacity: 1 !important;
  }
}
