.ebook__container {
  display: flex;
}

.ebook  {
  height: calc(100svh - 3rem * 2);
  margin: 3rem 0;
  width: 100%;

  @media(max-width: 100ch) {
    height: 100svh;
    margin: 0;
  }
}

.ebook__section {
  display: flex;
  height: 3rem;
  width: 100%;
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 10;

  &:has(.ebook__header) {
    top: 0;
  }

  &:has(.ebook__footer) {
    bottom: 0;
  }
}

.ebook__header, .ebook__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 3rem;
  padding: 0 var(--page-padding);

  background: var(--bg-secondary);
  box-shadow: 0 0 4px var(--color-shadow);

  @media(max-width: 100ch) {
    position: fixed;
  }
}

.ebook__header {
  h1 {
    font-size: var(--text-sm);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

.ebook__footer {
  margin-top: auto;
}

.ebook__progress_slider {
  width: 100%;
  background: transparent;
  z-index: 20;
}

.ebook__progress_slider::-webkit-slider-track,
.ebook__progress_slider::-moz-range-track {
  background: var(--color-primary);
  height: 2px;
}

#progress_step_list {
  display: block;
  position: absolute;
  width: calc(100vw - 2*var(--page-padding));
  margin: 0 var(--page-padding);

  div {
    width: 2px;
    height: 6px;
    background: var(--color-text);
    position: absolute;
    left: var(--position);
  }
}

.ebook__overlay {
  display: flex;
  align-items: center;

  .btn {
    opacity: 0;
    margin: 0.5em;
  }

  &:hover .btn {
    opacity: 1;
  }

  @media(max-width: 100ch) {
    display: none;
  }
}
