.icon {
  display: flex;
  place-items: center;

  &::before {
    display: inline-block;
    mask-size: 100%;
    content: "";
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    background: var(--color-text--subtle);
  }

  &:not(:empty)::before {
    margin-right: 0.25em;
  }
  
  &:empty {
    padding: 0.5em;

    &::before {
      height: 1.25em;
      width: 1.25em;
    }
  }

  &.icon--primary::before {
    background: var(--color-text);
  }

  &.icon--unselected::before {
    background: Var(--color-unselected);
  }
}

.icon--trash::before {
  mask-image: url(/icons/trash.svg);
}

.icon--plus::before {
  mask-image: url(/icons/plus.svg);
}

.icon--inbox::before {
  mask-image: url(/icons/inbox.svg);
}

.icon--later::before {
  mask-image: url(/icons/later.svg);
}

.icon--archive::before {
  mask-image: url(/icons/archive.svg);
}

.icon--read::before {
  mask-image: url(/icons/read.svg);
}

.icon--extract::before {
  mask-image: url(/icons/extract.svg);
}

.icon--arrow-left::before {
  mask-image: url(/icons/arrow-left.svg);
}

.icon--plus-circle-fill::before {
  mask-image: url(/icons/plus-circle-fill.svg);
}

.icon--feed::before {
  mask-image: url(/icons/feed.svg);
}

.icon--sign-out::before {
  mask-image: url(/icons/sign-out.svg);
}

.icon--x-circle-fill::before {
  mask-image: url(/icons/x-circle-fill.svg);
}

.icon--search::before {
  mask-image: url(/icons/search.svg);
}

.icon--user-circle::before {
  mask-image: url(/icons/user-circle.svg);
}

.icon--billing::before {
  mask-image: url(/icons/billing.svg);
}

.icon--security::before {
  mask-image: url(/icons/security.svg);
}

.icon--copy::before {
  mask-image: url(/icons/copy.svg);
}

.icon--file::before {
  mask-image: url(/icons/file.svg);
}
