#navbar {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid var(--color-border-light);
	position: sticky;
	width: 100%;
	top: 0;
	background: var(--bg-opaque);
	gap: 1em;
}

#navbar--logo-container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

#navbar--logo {
  display: flex;
  gap: 0.25em;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-sans);
  align-items: center;
}

#navbar--account {
	display: flex;
	justify-content: flex-end;
	flex: 1 0 auto;
}

#navbar .searchbar {
	flex: var(--content-width);
}

@media (max-width: 100ch) {
  #navbar .searchbar {
    display: none
  }
}

.searchfield-container {
	display: flex;
	gap: .4em;
	align-items: center;
}

.searchfield-container::before {
	background: url(/icons/search.svg) center center/100% auto no-repeat;
	content: "";
	height: 1.25em;
	width: 1.25em;
	pointer-events: none;
}

.content--header-container {
  width: fit-content;
  display: flex;
  margin: 0 auto 1em;
}

.content--header-container summary {
  display: flex;
  gap: 0.5em;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.content--header-container summary::marker {
  content: none;
}

.content--header-container summary::after {
    content: "";
    background: url("/icons/caret-down.svg") center center/100% auto no-repeat;
    width: 2em;
    height: 2em;
    transition: transform var(--transition);
}

.content--header-container[open] summary::after {
    transform: rotate(180deg);
}

#my_navigation {
  z-index: 2;
  display: grid;
  gap: 0.5em;
  grid-template-columns: auto auto auto;
  position: absolute;
  background: white;
  flex-direction: column;
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: 0 0 1em var(--color-shadow);
  border: 1px solid var(--color-border);
}

#my_navigation a {
  width: 8em;
  height: 4em;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  padding: 0.5em;
  background: #eee;
  border-radius: var(--border-radius);
}

#my_navigation a img {
  width: 32px;
  height: 32px;
}
