#navbar {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid lightgray;
}

.icon {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
}

.icon--search {
	background-image: url('/icons/search.svg');
}

.searchbar {
	display: flex;
}

.searchfield-container {
	display: flex;
	gap: .4em;
	align-items: center;
}

.searchfield-container::before {
	background: url(/icons/search.svg) center center/100% auto no-repeat;
	content: "";
	height: 1.25em;
	width: 1.25em;
	pointer-events: none;
}