#navbar__container {
  width: 100%;
  z-index: 1;
  background: var(--bg-primary--opaque);
  position: fixed;
  top: 0;
}

@media (min-width: 100ch) {
  .body--scrolled {
    #navbar__container {
      border-bottom: 1px solid var(--color-border--subtle);
    }
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: var(--navbar-width);
  margin: 0 auto;
  gap: 1em;
  align-items: stretch;

  @media (min-width: 100ch) {
    #navbar__left, #navbar__user__container {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .searchbar {
    margin-right: 2em;
  }

  #navbar__left {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
  }
}

#navbar__menu {
  display: flex;
  gap: 1em;

  li {
    display: flex;
    align-items: stretch;

    a {
      padding: 0 0.25em;
      display: flex;
      align-items: center;
      font-weight: 600;
      position: relative;
      color: var(--color-text--subtle);
    }

    a::before {
      height: 1.2em;
      width: 1.2em;
    }

    a[aria-current="page"] {
      color: var(--color-primary);

      &::before {
        background: var(--color-primary)
      }
    }
  }
}

#navbar__user__container {
  display: flex;
  justify-content: end;
  align-items: center;

  #navbar__user {
    background: oklch(80% 0.15 var(--user-hue));
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
  }
}

#navbar #navigation {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;

  .action-group {
    border: 1px solid var(--color-border);
    padding: 0.5em;

    width: fit-content;

    background: var(--bg-primary);
    border-radius: 0.375em;
  }
}

#trial-banner {
  display: block;
  text-align: center;
  padding: 0.25em;
  font-size: var(--text-sm);
  background: var(--color-tertiary--opaque);
  white-space: nowrap;
  font-weight: 500;
  overflow: hidden;
  text-overflow: clip;
}
