#navbar {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid var(--color-border);
	flex-shrink: 0;
	gap: 1em;
	position: sticky;
	width: 100%;
	top: 0;
	background: var(--color-bg-opaque);
}

.icon {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
}

.icon--search {
	background-image: url('/icons/search.svg');
}

.searchbar {
	display: flex;
	padding: 0.5em;
	border: 1px solid var(--color-border);
	border-radius: 2em;
	width: min(100%, 35em);
	background: var(--color-bg-paper-lighter);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.searchfield-container {
	display: flex;
	gap: .4em;
	align-items: center;
}

.searchfield-container::before {
	background: url(/icons/search.svg) center center/100% auto no-repeat;
	content: "";
	height: 1.25em;
	width: 1.25em;
	pointer-events: none;
}