@font-face {
  font-family: 'Newsreader';
  src: url('Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@font-face {
  font-family: 'Newsreader';
  src: url('Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gantari';
  src: url('Gantari-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gantari';
  src: url('Gantari-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: italic;
}

:root {
	--font-serif: 'Newsreader', Georgia, Times, serif;
	--font-sans: 'Gantari', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	--font-size: clamp(0.75rem, 2.225vw, 1rem);

	--letter-spacing: -0.0015em;
	--line-height: 1.3;
	--line-height-loose: 1.6;

	--lch-paper: 98% 0.005 96;
	--lch-paper-dark: 95% 0.01 96;

	--lch-gray-lighter: 90% 0.005 96;
	--lch-gray-light: 85% 0.005 96;
	--lch-gray: 80% 0.005 96;
	--lch-gray-dark: 50% 0.005 96;

	--lch-text-light: 50% 0.005 96;
	--lch-text: 25% 0.005 96;

	--color-border-dark: oklch(var(--lch-gray));
	--color-border: oklch(var(--lch-gray-light));
	--color-border-light: oklch(var(--lch-gray-lighter));

	--border-radius: 0.25em;

	--color-text: oklch(var(--lch-text));
	--color-text-light: oklch(var(--lch-text-light));

	--color-shadow: oklch(var(--lch-gray-dark) / 0.25);

	--lch-blue: 54% 0.23 255;
/*	--lch-blue-light: 95% 0.03 255;
	--lch-blue-dark: 80% 0.08 255;*/

	--text-sm: 0.875em;
	--text-base: 1em;
	--text-lg: 1.125em;
	--text-xl: 1.25em;
	--text-2xl: 1.5em;
	--text-3xl: 1.875em;
	--text-4xl: 2.25em;
	--text-5xl: 2.5em;
	--text-6xl: 2.875em;

	--bg-paper: oklch(var(--lch-paper));
	--bg-paper-dark: oklch(var(--lch-paper-dark));

	--bg-selected: oklch(var(--lch-blue));

	--color-link-hover: oklch(var(--lch-blue) / 0.04);
	--bg-opaque: oklch(100% 0 0 / 0.95);

	--focus-ring: 1px solid oklch(var(--lch-blue));

	--transition: 0.1s ease;

	--content-width: min(100%, 40em);
	--sheet-width: min(100%, 60em);


	--color-main: 100% 0 0;
	--bg-main: oklch(var(--color-main));
}