.sheet--login {
  gap: 1em;

  &.sheet {
    border-radius: 0;
    border-top: none;
  }

  #login__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 20em;
    width: 100%;
    margin: 0 auto;
    
    input[type="submit"] {
      text-align: center;
    }
    
    label {
      width: 100%;
      text-align: center;
      font-size: var(--text-xl);
    }
  }

  .login__email-address {
    font-weight: 600;
  }
}
