.login {
  #login__content {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }

  .login__logo {
    width: 4em;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  &.sheet {
    padding-top: 8em;
    border-radius: 0;
    border-top: none;
  }

  #login__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 20em;
    margin: 0 auto;
    
    input[type="submit"] {
      text-align: center;
    }
    
    label {
      width: 100%;
      text-align: center;
      font-size: var(--text-xl);
    }
  }

  .login__email-address {
    font-weight: 600;
  }
}
