html {
	font-size: 16px;
  line-height: var(--line-height);
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-sans);
	font-size: var(--font-size);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);

	color: var(--color-text);

  height: 100dvh;
  overflow: hidden;
  background: var(--bg-main);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	flex: 1;
  overflow-y: auto;
}

.content {
	width: var(--content-width);
	padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content--center {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.sheet {
	border-radius: 2em 2em 0 0;
	flex: 1;
	background: var(--bg-primary);
  padding-top: 2em;

	display: flex;
	flex-direction: column;
	width: var(--sheet-width);
	align-items: center;
  overflow-y: auto;

  @media (max-width: 100ch) {
    border-radius: 0;
  }

  .sheet__header {
    text-align: center;
    width: var(--content-width);
    font-weight: 600;
    display: flex;
    background: var(--bg-primary);
    align-items: center;
    padding: 0 1em 0;
    margin-bottom: 0.5em;
    justify-content: center;
    gap: 0.5em;
    font-size: var(--text-5xl);
    line-height: var(--line-height-tight);
  }
}

.native .sheet__header {
  display: none;
}

a {
	color: inherit;
}

a:focus-visible {
  outline: var(--focus-ring);
}

ol, ul {
  list-style: initial;
}

sub, sup {
  font-size: var(--text-sm);
  margin-left: 0.25em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

details summary {
  &::-webkit-details-marker, &::marker {
    content: none;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

strong, b {
  font-weight: bold
}

em, i {
  font-style: italic;
}

code {
  font-family: var(--font-mono);
}

ol, ul {
  li {
    margin: 0.5em 0 0 2em;
  }
}

#flash {
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  top: 2em;
  gap: 1em;
  pointer-events: none;
}

.flash-item {
  padding: 0.5em 1.5em;
  background: var(--bg-reversed);
  color: var(--color-text-reversed);
  border-radius: 2em;
  box-shadow: 0 0 1em var(--color-shadow);
  opacity: 0;
  animation: fadeInOut 4s linear forwards;
  pointer-events: auto;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
