.subscription-content {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

#subscription-list:has(.subscription-preview) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background: var(--bg-primary);
  overflow: auto;
}

#add-subscription {
  display: flex;

  justify-content: end;
  flex-flow: row wrap;
  gap: 0.5em;

  input {
    width: 100%
  }
}

.subscription-preview {
  display: flex;
  gap: 0.5em;
  border-bottom: 1px solid var(--color-border);
  padding: 1em;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 100ch) {
    flex-direction: column;
    align-items: start;
  }

  &:last-child {
    border-bottom: none;
  }

  .subscription-preview__actions {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .subscription-preview__text {
    display: flex;
    flex-direction: column;
  }

  .subscription-preview__content {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .subscription-preview__title {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subscription-preview__description {
    color: var(--color-text-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
  }

  .subscription-preview__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    &:has(source[srcset=""]) {
      filter: var(--filter-text-secondary);
    }
  }
}

