.subscription-content {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

#subscription-list:has(.subscription-preview) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background: var(--bg-primary);
  overflow: auto;
  width: 100%;
}

#add-subscription {
  width: 100%;
  display: flex;

  justify-content: end;
  flex-flow: row wrap;
  gap: 0.5em;

  input {
    width: 100%
  }
}

.subscription-preview {
  display: flex;
  gap: 0.5em;
  border-bottom: 1px solid var(--color-border);
  padding: 1em;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 100ch) {
    flex-direction: column;
    align-items: start;
  }

  &:last-child {
    border-bottom: none;
  }

  .subscription-preview__actions {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .subscription-preview__text {
    display: flex;
    flex-direction: column;
  }

  .subscription-preview__content {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .subscription-preview__title {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subscription-preview__description {
    color: var(--color-text-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
  }

  .subscription-preview__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    &:has(source[srcset=""]) {
      filter: var(--filter-text-secondary);
    }
  }
}

.subscription-avatar-list {
  display: flex;
  gap: 0.5em;
  overflow-x: scroll;
  scrollbar-width: none;
  width: var(--content-width);

  .subscription-avatar {
    display: flex;
    font-size: var(--text-base);
    gap: 0.5em;
    border: 1px solid var(--color-border);
    border-radius: 0.5em;
    padding: 0.4em 0.8em;
    align-items: center;
    max-width: 10em;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }

    picture {
      display: flex;
      width: 24px;
      flex-shrink: 0;

      img {
        aspect-ratio: 1 / 1;
      }
    }

    &[data-active="true"] {
      background: var(--bg-input-secondary);
    }
  }
}
