.btn {
	border-radius: var(--border-radius);
	padding: 0.4em 0.8em;
	font-weight: 500;
	cursor: pointer;
	background: var(--bg-input);
  color: var(--color-text-light);
}

.btn:hover, .btn:focus {
  background: var(--bg-input-hover);
}

.btn-icon:not(.btn) {
  background: var(--color-text);
}

.btn.btn-icon::before {
  background: var(--color-text-light);
}

.btn-icon:not(.btn), .btn.btn-icon::before {
  display: block;
	mask-size: 100%;
	content: "";
	height: 1.25em;
	width: 1.25em;
	cursor: pointer;
}

.btn-icon__danger:hover, .btn-icon__danger:focus {
  background: var(--color-danger);
}

.btn.btn-icon {
  position: relative;
  display: flex;
  gap: 0.4em;
  align-items: center;

  &.icon--plus::before {
    mask-image: url(/icons/plus.svg) ;
  }
}

.icon {
  filter: var(--filter-text-secondary)
}

.icon--trash:not(.btn) {
  mask-image: url(/icons/trash.svg);
}

.checkbox {
	display: flex;
	gap: 0.5em;
	align-items: center;
	font-weight: 600;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin: 0;
  background: var(--bg-primary);
}

input[type="checkbox"]:checked {
  background-color: var(--bg-input-hover);
}

input[type="checkbox"] + label {
  user-select: none;
}

label {
  color: var(--color-text);
	cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid var(--color-text-light);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:focus-visible {
  outline: var(--focus-ring);
}

input[type="text"], input[type="email"] {
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	padding: 0.5em 1em;
	background: var(--bg-primary);
}

input[type="text"]:focus-visible, input[type="email"]:focus-visible {
	outline: var(--focus-ring);
  background-color: var(--bg-link-hover);
  border-color: var(--color-border);
}

.searchbar {
	display: flex;
	border: 1px solid var(--color-border);
	border-radius: 2em;
	max-width: var(--content-width);
	background: var(--bg-primary);
}

.searchbar:has(input:focus-visible) {
	outline: var(--focus-ring);
	background: linear-gradient(var(--bg-link-hover), var(--bg-link-hover)), var(--bg-primary);
  border-color: var(--color-border);
}

.searchbar form {
  flex: 1;
}

.searchfield-container {
	display: flex;
	align-items: center;
  flex: 1;
  position: relative;
}

.searchfield-container::after {
  background-color: var(--color-text-secondary);
  mask-image: url(/icons/search.svg);
  mask-repeat: no-repeat;
  mask-size: 100%;
	content: "";
	height: 1.25em;
	width: 1.25em;
	pointer-events: none;
  position: absolute;
  left: 0.5em;
}

.searchbar input[type="search"] {
  width: 100%;
  padding: 0.5em 0.5em 0.5em 2.2em;
}

input::placeholder {
  color: var(--color-text-secondary)
}
