.btn {
  display: flex;
  border-radius: var(--border-radius);
  padding: 0.4em 0.8em;
  font-weight: 500;
  cursor: pointer;
  background: var(--bg-input);
  color: var(--color-text-light);

  &:hover, &:focus {
    background: var(--bg-input-hover);
  }

  &:focus {
    outline: var(--focus-ring);
  }


  &.btn--ghost {
    background: none;

    &:hover, &:focus {
      background: var(--bg-input-ghost-hover)
    }
   
    &.btn--icon::before {
      background: var(--color-text-secondary);
    }
  }

  &.btn--secondary {
    background: none;
    border: 1px solid var(--color-border);
    color: var(--color-text);

    &.btn--icon::before {
      background: var(--color-text);
    }

    &:hover {
      background: var(--bg-secondary);
    }
  }

  &.btn--main {
    border-color: var(--color-main-light);
    color: var(--color-main-light);

    &&:before {
      background: var(--color-main-light);
    }
  }

  &.btn--sm {
    font-size: var(--text-sm);
    padding: 0.2em 0.6em;

    &::before {
      height: 1.125em;
      width: 1.125em;
    }
  }
}

.btn--icon, .toggle {
  &::before {
    display: block;
    mask-size: 100%;
    content: "";
    height: 1.25em;
    width: 1.25em;
    flex-shrink: 0;
    cursor: pointer;
    background: var(--color-text-light);
  }
  
  &:not(:empty) {
    position: relative;
    display: flex;
    gap: 0.4em;
    align-items: center;
  }

  &:empty {
    padding: 0.5em;
  }
}

.toggle-group {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

}

.toggle {
  padding: 0.5em;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  
  &::before {
    background: var(--color-text-secondary)
  }

  &:hover {
    background: var(--bg-input-ghost-hover);
  }

  &:checked {
    background: var(--bg-input-secondary);
  }
}

.checkbox-container {
	display: flex;
	gap: 0.5em;
	align-items: center;
	font-weight: 600;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin: 0;
  background: var(--bg-primary);

  &:checked {
    background-color: var(--bg-input);
  }

  & + label {
    cursor: pointer;
    user-select: none;
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid var(--color-text-light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);https://theoatmeal.com/
  }

  &:focus-visible {
    outline: var(--focus-ring);
  }
}

label {
  color: var(--color-text);
}

input[type="text"], input[type="email"] {
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	padding: 0.5em 1em;
	background: var(--bg-primary);

  &:focus-visible {
    outline: var(--focus-ring);
    background-color: var(--bg-link-hover);
    border-color: var(--color-border);
  }
}

.searchbar {
	display: flex;
	border: 1px solid var(--color-border);
	border-radius: 2em;
	max-width: var(--content-width);
	background: var(--bg-primary);

  &:has(input:focus-visible) {
    outline: var(--focus-ring);
    background: linear-gradient(var(--bg-link-hover), var(--bg-link-hover)), var(--bg-primary);
    border-color: var(--color-border);
  }

  form {
    flex: 1;
  }

  .searchfield-container {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;

    &::after {
      background-color: var(--color-text-secondary);
      mask-image: url(/icons/search.svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
      content: "";
      height: 1.25em;
      width: 1.25em;
      pointer-events: none;
      position: absolute;
      left: 0.5em;
    }
  }


  input[type="search"] {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 2.2em;
  }
}

input::placeholder {
  color: var(--color-text-secondary)
}
    
@media (min-width: 100ch) {
  .shortcut-hotkey {
    position: relative;
    vertical-align: middle;
  }

  .shortcut-hotkey::after {
    margin-left: auto;
    font-family: var(--font-mono);
    font-size: var(--text-xs);
    color: var(--color-text-secondary);
    content: attr(data-shortcut-hotkey-value);
    padding-left: 1em;
    text-transform: uppercase;
  }
}
