.native-only {
  body:not(.native) & {
    display: none !important;
  }
}

.web-only {
  body.native & {
    display: none !important;
  }
}

.hide {
  display: none !important;
}


@media (min-width: 100ch) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 100ch) {
  .desktop-only {
    display: none !important;
  }
}

.push--bottom {
  margin-bottom: 1em;
}

.push--top {
  margin-top: 1em;
}
