#bottom-navbar {
  display: none;
  background: var(--bg-primary);
  border-top: 1px solid var(--color-border-light);

  @media (max-width: 100ch) {
    display: block;
    position: sticky;
    bottom: 0;
  }

  #navigation {
    display: flex;
    padding: 0.5em 0.5em 0.5em;
    margin: 0 auto;
    max-width: var(--content-width);

    .navigation-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: var(--text-xs);
      gap: 0.25em;
      line-height: 1;
      flex: 1 1 0;

      span {
        width: 100%;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &::before {
        height: 2em;
        width: 2em;
        mask-size: 2em;
      }
    }

    #navbar__account__container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      font-size: var(--text-xs);
    }

    a[data-current=true] {
      color: var(--color-link);

      &::before {
        background: var(--color-link);
      }
    }
  }
}
