@media (min-width: 100ch) {
  body.body--scrolled-down {
    #navbar__container {
      border-bottom: 1px solid var(--color-border);
    }
  }
}

#navbar__container {
  width: 100%;
  z-index: 1;
  background: var(--bg-main);
  position: sticky;
  top: 0;

  @media (max-width: 100ch) {
    display: none;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: var(--navbar-width);
  margin: 0 auto;
  gap: 1em;
  align-items: center;

  > :first-child, > :last-child {
    flex-grow: 1;
    flex-basis: 0;
  }

  .searchbar {
    width: 75%;
    max-width: 20em;
  }

  #navbar__left {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}

#navbar__logo-container {
  display: flex;
  min-width: fit-content;

  &[open] #navbar__logo::after {
    transform: rotate(180deg);
  }
  #navbar__logo {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-sans);
    cursor: pointer;
    user-select: none;
    align-items: center;
    width: fit-content;
    
    &::marker {
      content: none;
    }
    
    &::after {
      display: block;
      content: "";
      mask-image: url("/icons/caret-down.svg");
      mask-size: 100%;
      background: var(--color-text-secondary);
      width: 1em;
      height: 1em;
      flex-shrink: 0;
    }
  }

  :focus-visible {
    outline: var(--focus-ring);
  }
}

#navbar__account__container {
  display: flex;
  justify-content: end;

  #navbar__account {
    background: oklch(80% 0.15 var(--user-hue));
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-text-dark);
    font-weight: 700;
  }
}

#navbar #navigation {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 1em;

  .action-group {
    border: 1px solid var(--color-border);
    padding: 0.5em;

    width: fit-content;

    background: var(--bg-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.25em var(--color-shadow);
  }
}

.native .breadcrumb {
  display: none;
}
