@media (min-width: 100ch) {
  body.body--scrolled-down {
    #navbar__container {
      border-bottom: 1px solid var(--color-border);
    }
  }
}

#navbar__container {
  width: 100%;
  z-index: 1;
  background: var(--bg-main);
  position: sticky;
  top: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: var(--navbar-width);
  margin: 0 auto;
  gap: 1em;
  align-items: center;

  :first-child, :last-child {
    flex-grow: 1;
    flex-basis: 0;
  }
}

#navbar__logo-container {
  &[open] #navbar__logo::after {
    transform: rotate(180deg);
  }

  @media (max-width: 100ch) {
    display: none;
  }

  #navbar__logo {
    height: 100%;
    display: inline-flex;
    gap: 0.5em;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-sans);
    cursor: pointer;
    user-select: none;
    align-items: center;
    
    &::marker {
      content: none;
    }
    
    &::after {
      content: "";
      mask-image: url("/icons/caret-down.svg");
      mask-size: 100%;
      background: var(--color-text-secondary);
      width: 1em;
      height: 1em;
    }
  }

  :focus-visible {
    outline: var(--focus-ring);
  }
}


.searchbar {
	display: flex;
	border: 1px solid var(--color-border);
	border-radius: 2em;
	width: var(--content-width);
	background: var(--bg-primary);

  &:has(input:focus-visible) {
    outline: var(--focus-ring);
    background: linear-gradient(var(--bg-link-hover), var(--bg-link-hover)), var(--bg-primary);
    border-color: var(--color-border);

    input[type="search"] {
      outline: none;
    }
  }

  form {
    flex: 1;
  }

  .searchfield-container {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;

    &::after {
      background-color: var(--color-text-secondary);
      mask-image: url(/icons/search.svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
      content: "";
      height: 1.25em;
      width: 1.25em;
      pointer-events: none;
      position: absolute;
      left: 0.5em;
    }
  }


  input[type="search"] {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 2.2em;
  }

  @media (max-width: 100ch) {
    width: 100%;
  }
}

#navbar__account {
  text-align: right;

  #navbar__account__link {
    margin-left: auto;
    background: oklch(80% 0.15 var(--user-hue));
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-text-dark);
    font-weight: 700;
  }

  &:has(#navbar__account__link:focus-visible) {
    outline: var(--focus-ring);
  }
}

#navbar #navigation {
  position: absolute;
  background: var(--bg-primary);
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.25em var(--color-shadow);

  border: 1px solid var(--color-border);
  margin-top: 0.25em;
  padding: 0.5em;
  z-index: 2;

  display: flex;
  width: initial;
}

.breadcrumb {
  margin-bottom: 1em;
}

.native .breadcrumb {
  display: none;
}
