<% content_for(:title) { "Starch — One place to read them all" } %>

<div class="page">
  <h1 class="heading align--center">Starch</h1>
  <div class="typography">
    <p>One <s>ring</s> place to <s>rule</s> read them all.</p>
  </div>
  <%= link_to "Get started", new_session_path, class: "btn btn--primary" %>
</div>
