<turbo-frame id="my_navigation">
  <% 
  navigation_items = [
    { path: root_path, icon: "icons/inbox.svg", text: "Inbox" },
    { path: later_path, icon: "icons/later.svg", text: "Later" },
    { path: feed_path, icon: "icons/feed.svg", text: "Feed" },
    # { path: search_path, icon: "icons/binoculars.svg", text: "Search" },
    { path: archive_path, icon: "icons/archive.svg", text: "Archive" },
    { path: subscriptions_path, icon: "icons/plus-circle-fill.svg", text: "Subscriptions" },
  ]
  %>
  
  <% navigation_items.each_with_index do |item, index| %>
    <%= link_to item[:path], data: { controller: "shortcut", "shortcut-hotkey-value": (index + 1).to_s } do %>
      <%= image_tag item[:icon], class: "icon" %>
      <span><%= item[:text] %></span>
    <% end %>
  <% end %>
</turbo-frame>
